{% extends "base.html" %}

{% block content %}
<!-- Header -->
<div class="container text-center mt-5 pt-5 reveal">
    <h1>AI Tools, Productivity & Real Insights</h1>
    <div class="subhead reveal reveal-delay-1">
        No fluff. Just practical AI knowledge you can act on today.
    </div>
</div>

<!-- Filters -->
<div class="container text-center mt-4 reveal reveal-delay-2">
    <div class="filters d-flex justify-content-center flex-wrap gap-3 reveal">

        <button class="filter-btn active" data-filter="all">All</button>
        <button class="filter-btn" data-filter="ai tools">AI Tools</button>
        <button class="filter-btn" data-filter="productivity">Productivity</button>
        <button class="filter-btn" data-filter="case study">Case Study</button>
        <button class="filter-btn" data-filter="reviews">Reviews</button>
        <button class="filter-btn" data-filter="ai news">AI News</button>

    </div>
</div>


<div class="container mt-5">
    <div class="row g-4">

        {% for blog in blogs %}
        <div class="col-lg-6 col-md-12 story-card-wrapper d-flex mt-5 reveal-left reveal-delay-1"
            data-category="{{ blog.category|lower }}">

            <a href="/blog/{{ blog.id }}" style="text-decoration: none;">
                <div class="story-card w-100 d-flex flex-column">

                    <img src="{{ blog.image_url }}" class="img-fluid card-img-top">

                    <div class="p-4">

                        <div class="d-flex justify-content-between align-items-center">
                            <span class="category-badge">
                                {{ blog.category }}
                            </span>

                            <span class="date">
                                <i class="bi bi-calendar4-event"></i>
                                {{ blog.date }}
                            </span>
                        </div>
                        
                        <h4 class="mt-3" style="color: black;">
                            {{ blog.title }}
                        </h4>

                        <p class="story-text">
                            {{ blog.slug }}
                        </p>

                        <hr class="my-4">

                        <div>
                            <p class="blog-text">
                                {{ blog.excerpt }}
                            </p>

                            <div class="card-link">
                                <span>
                                    Request My AI Plan
                                    <i class="bi bi-arrow-right-short"></i>
                                </span>
                            </div>

                        </div>

                    </div>
                </div>
            </a>

        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}